In [12]:
from sqlalchemy import select, or_, and_, not_

from 第三方库.sqlalchemy.common.database import UsingAlchemy
from 第三方库.sqlalchemy.common.models import Student

In [16]:
# 比较运算符
with UsingAlchemy() as ua:
    print("====1.x====")
    # filter 非等值比较、逻辑运算符
    query = ua.session.query(Student).filter(
        Student.id == 1, Student.id != "1", Student.id > 1,
        Student.id < 1, Student.id >= 1, Student.id <= 1,
    )
    print("filter比较运算符", query)
    # filter_by 简单的相等性比较查询
    query = ua.session.query(Student).filter_by(id=1, name="张三")
    print("filter_by比较运算符", query)

    print("====2.x====")
    stmt = select(Student).where(
        Student.id == 1, Student.id != "1", Student.id > 1,
        Student.id < 1, Student.id >= 1, Student.id <= 1,
    )
    print("stmt:", stmt)

====1.x====
filter比较运算符 SELECT student.id AS student_id, student.name AS student_name, student.age AS student_age, student.t_id AS student_t_id
FROM student
WHERE student.id = %(id_1)s AND student.id != %(id_2)s AND student.id > %(id_3)s AND student.id < %(id_4)s AND student.id >= %(id_5)s AND student.id <= %(id_6)s
filter_by比较运算符 SELECT student.id AS student_id, student.name AS student_name, student.age AS student_age, student.t_id AS student_t_id
FROM student
WHERE student.id = %(id_1)s AND student.name = %(name_1)s
====2.x====
stmt: SELECT student.id, student.name, student.age, student.t_id
FROM student
WHERE student.id = :id_1 AND student.id != :id_2 AND student.id > :id_3 AND student.id < :id_4 AND student.id >= :id_5 AND student.id <= :id_6

In [20]:
# AND
with UsingAlchemy() as ua:
    print("====1.x====")
    # 使用filter默认就是and，多个参数形式
    query = ua.session.query(Student).filter(
        Student.id == 1, Student.name == "张三"
    )
    print("and_filter1", query)
    # 使用filter默认就是and，多个filter形式
    query = ua.session.query(Student).filter(
        Student.id == 1).filter(Student.name == "张三")
    print("and_filter2", query)
    # 使用 and_
    query = ua.session.query(Student).filter(
        and_(Student.id == 1, Student.name == "张三")
    )
    print("and_filter3", query)


    print("====2.x====")
    # 使用where默认就是and，多个参数形式
    stmt = select(Student).where(
        Student.id == 1, Student.name == "张三"
    )
    print("and_where1", str(stmt))
    # 使用where默认就是and，多个where形式
    stmt = select(Student).where(
        Student.id == 1).where(Student.name == "张三")
    print("and_where2", str(stmt))
    # 使用 and_
    stmt = select(Student).filter(
        and_(Student.id == 1, Student.name == "张三")
    )
    print("and_where3", str(stmt))

====1.x====
and_filter1 SELECT student.id AS student_id, student.name AS student_name, student.age AS student_age, student.t_id AS student_t_id
FROM student
WHERE student.id = %(id_1)s AND student.name = %(name_1)s
and_filter2 SELECT student.id AS student_id, student.name AS student_name, student.age AS student_age, student.t_id AS student_t_id
FROM student
WHERE student.id = %(id_1)s AND student.name = %(name_1)s
and_filter3 SELECT student.id AS student_id, student.name AS student_name, student.age AS student_age, student.t_id AS student_t_id
FROM student
WHERE student.id = %(id_1)s AND student.name = %(name_1)s
====2.x====
and_where1 SELECT student.id, student.name, student.age, student.t_id
FROM student
WHERE student.id = :id_1 AND student.name = :name_1
and_where2 SELECT student.id, student.name, student.age, student.t_id
FROM student
WHERE student.id = :id_1 AND student.name = :name_1
and_where3 SELECT student.id, student.name, student.age, student.t_id
FROM student
WHERE student.id = :id_1 AND student.name = :name_1

In [22]:
# OR
with UsingAlchemy() as ua:
    print("====1.x====")
    query = ua.session.query(Student).filter(
        or_(Student.id == 1, Student.id == 4)
    )
    print("or_filter", query)

    print("====2.x====")
    stmt = select(Student).where(
        or_(Student.id == 1, Student.id == 4)
    )
    print("or_where", stmt)

====1.x====
or_filter SELECT student.id AS student_id, student.name AS student_name, student.age AS student_age, student.t_id AS student_t_id
FROM student
WHERE student.id = %(id_1)s OR student.id = %(id_2)s
====2.x====
or_where SELECT student.id, student.name, student.age, student.t_id
FROM student
WHERE student.id = :id_1 OR student.id = :id_2

In [24]:
# NOT
with UsingAlchemy() as ua:
    print("====1.x====")
    query = ua.session.query(Student).filter(
        not_(Student.id == 1)
    )
    print("not_filter", query)

    print("====2.x====")
    stmt = select(Student).where(
        not_(Student.id == 1)
    )
    print("not_where", stmt)

====1.x====
not_filter SELECT student.id AS student_id, student.name AS student_name, student.age AS student_age, student.t_id AS student_t_id
FROM student
WHERE student.id != %(id_1)s
====2.x====
not_where SELECT student.id, student.name, student.age, student.t_id
FROM student
WHERE student.id != :id_1

In [26]:
# 多条件查询
with UsingAlchemy() as ua:
    print("====1.x====")
    student_id = None
    student_name = "张三"
    student_age = 18
    query = ua.session.query(Student).filter(
        or_(Student.id == student_id, student_id is None),
        or_(Student.name == student_name, student_name is None),
        or_(Student.age == student_age, student_age is None),
    )
    print("多条件查询_filter", query)

    print("====2.x====")
    student_id = None
    student_name = "张三"
    student_age = 18
    stmt = select(Student).where(
        or_(Student.id == student_id, student_id is None),
        or_(Student.name == student_name, student_name is None),
        or_(Student.age == student_age, student_age is None),
    )
    print("多条件查询_where", stmt)

====1.x====
多条件查询_filter SELECT student.id AS student_id, student.name AS student_name, student.age AS student_age, student.t_id AS student_t_id
FROM student
WHERE true = 1 AND student.name = %(name_1)s AND student.age = %(age_1)s
====2.x====
多条件查询_filter SELECT student.id, student.name, student.age, student.t_id
FROM student
WHERE true AND student.name = :name_1 AND student.age = :age_1