In [73]:
from sqlalchemy import select
from sqlalchemy.orm import aliased

from 第三方库.sqlalchemy.common.database import UsingAlchemy
from 第三方库.sqlalchemy.common.models import Student

In [28]:
# 查询所有列
with UsingAlchemy() as ua:
    print("====1.x====")
    query = ua.session.query(Student)
    print("query:", type(query), query)

    print("====2.x====")
    stmt = select(Student)
    print("stmt:", type(stmt), stmt)

====1.x====
query: <class 'sqlalchemy.orm.query.Query'> SELECT student.id AS student_id, student.name AS student_name, student.age AS student_age, student.t_id AS student_t_id
FROM student
====2.x====
stmt: <class 'sqlalchemy.sql.selectable.Select'> SELECT student.id, student.name, student.age, student.t_id
FROM student

In [71]:
# 查询指定列
with UsingAlchemy() as ua:
    print("====1.x====")
    query = ua.session.query(Student.id, Student.name)
    print("query:", query)

    print("====2.x====")
    stmt = select(Student.id, Student.name)
    print("stmt:", stmt)

====1.x====
query: SELECT student.id AS student_id, student.name AS student_name
FROM student
====2.x====
stmt: SELECT student.id, student.name
FROM student

In [76]:
# 类别名
with UsingAlchemy() as ua:
    student_alias = aliased(Student, name="student_alias")
    query = ua.session.query(student_alias, student_alias.name)
    print("====1.x====")
    print(query)

    print("====2.x====")
    stmt = select(student_alias)
    print(stmt)

====1.x====
SELECT student_alias.id AS student_alias_id, student_alias.name AS student_alias_name, student_alias.age AS student_alias_age, student_alias.t_id AS student_alias_t_id, student_alias.name AS student_alias_name__1
FROM student AS student_alias
====2.x====
SELECT student_alias.id, student_alias.name, student_alias.age, student_alias.t_id
FROM student AS student_alias

In [65]:
# 查询结果转换为列表，获取所有数据
with UsingAlchemy() as ua:
    print("====1.x====")
    student_list = ua.session.query(Student.name, Student.age).all()
    print(student_list)

    print("====2.x====")
    stmt = select(Student.name, Student.age)
    result = ua.session.execute(stmt)
    student_list = result.all()
    print(student_list)

====1.x====
[('张三', 18), ('李四', 32), ('王五', None), ('张三', 18), ('张三', 19), ('张三', 20), ('张三1', 20)]
====2.x====
[('张三', 18), ('李四', 32), ('王五', None), ('张三', 18), ('张三', 19), ('张三', 20), ('张三1', 20)]

In [48]:
# 查询结果转换为列表，获取第一行
with UsingAlchemy() as ua:
    print("====1.x====")
    student = ua.session.query(Student.name, Student.age).first()
    print(student)

    print("====2.x====")
    stmt = select(Student.name, Student.age)
    result = ua.session.execute(stmt)
    student = result.first()
    print(student)

====1.x====
('张三', 18)
====2.x====
('张三', 18)

In [54]:
# 查询结果转换为列表，当且仅当只有一行，获取第一行
with UsingAlchemy() as ua:
    print("====1.x====")
    student = ua.session.query(Student.name).filter(Student.id == 1).one()
    print(student)

    print("====2.x====")
    stmt = select(Student.name).where(Student.id == 1)
    result = ua.session.execute(stmt)
    student = result.one()
    print(student)

====1.x====
('张三',)
====1.x====
('张三',)

In [69]:
# 查询结果转换为列表，获取第一行第一列的值
with UsingAlchemy() as ua:
    print("====1.x====")
    student = ua.session.query(Student.name).filter(Student.id == 1).scalar()
    print(student)

    print("====2.x====")
    stmt = select(Student.name).where(Student.id == 1)
    result = ua.session.execute(stmt)
    student = result.scalar()
    print(student)

    result = ua.session.scalars(stmt)
    student = result.first()
    print(student)

====1.x====
张三
====2.x====
张三
张三